parameters:
    level: 8
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - tests/stubs/constants.php
        - tests/stubs/AppController.php
        - vendor/cakephp/cakephp/src/I18n/functions.php
        - vendor/cakephp/cakephp/src/I18n/functions_global.php
    paths:
        - src/
    excludePaths:
        - src/Console/Installer.php
includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
